.container{
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.user-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    width: 2.5rem; 
    height: 2.5rem;  
    color: black;
    background-color: rgb(255, 255, 255); 
    border: 1px solid black;  
}
.user-name{
    font-size: 11px;
}
.comment{
color: white; 
width: 300px;
word-wrap: break-word;
}