.no-posts{
    font-size: 18px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; 
    text-align: center; 
    color: white;
}
.container{
    background-color: rgb(201, 204, 206); /* rgb(228, 230, 231)*/
}
.post{
    width: 50%;
    margin: 0 auto;
    padding: 2.5rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    overflow: hidden;
}

