*{
    list-style-type: none;
}
.padding-left-20px{
    padding-left: 20px;
}

.course-main{
    width: 100%;
    --line-block-color: rgb(239, 239, 239);
    --line-false-block-color: rgba(255, 2, 2, 0.25); /*rgba(241, 138, 166, 0.3)*/
    --notes-background-color: rgb(112, 154, 252, 0.6);/*rgb(207, 224, 238)*/
    --notes-text-color: rgba(83,78,78);
}
.fw700{
    font-weight: 700;
}



.course-main h2{
    font-size: 36px;
    font-weight: 700;
    
}
.course-main h3{
    font-size: 24px;
    font-weight: 500;
    color: rgb(48, 48, 142);
}
.course-main h4{
    font-size: 20px;
}
.course-main h2, h3, h4 {
    padding-left: 30px;
}
.course-main p{
    margin-left: 60px;
    margin-right: 40px;
}
.course-main h2, h3, h4, p{
    margin-bottom: 20px;
}
.blockStyle{
    background-color: var(--line-block-color);
    line-height: 3em;
    margin: 0px 40px 20px 60px;
    padding-left: 20px;
}
.blockStyle span{
    margin-bottom: -20px;
    display: block;
}
.blockStyle span:last-child{
    margin-bottom: 0;
}
.falseBlockStyle{
    background-color: var(--line-false-block-color);
    line-height: 3em;
    margin: 0px 40px 20px 60px;
    padding-left: 20px;
}
.notes{
    background-color: var(--notes-background-color);
    color: var(--notes-text-color);
    padding: 15px 20px;
    margin: 0px 40px 20px 60px;
}
.first-elem{
    max-width: 700px;
    margin: 0px 40px 20px 60px;
}
.course-list li{
    margin: 0px 40px 20px 80px;
    list-style-type: decimal;
}
.course-list-disc li{
    margin: 0px 40px 20px 80px;
    list-style-type: disc;
}

.course-example{
    border: 1px solid rgb(30, 29, 29);
    background-color: rgb(36, 33, 33);
    margin: 0px 40px 20px 60px;
    color: white;
}
.course-button-test{
    font-family: 'helvetica neue', helvetica, sans-serif;
letter-spacing: 1px;
text-transform: uppercase;
text-align: center;
border: 2px solid rgba(0,0,200,0.6);
background: rgba(0,0,200,0.3);
color: rgba(0,0,200,0.6);
box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
border-radius: 10px;
padding: 3px 10px;
display: block;
cursor:pointer;
margin: 0px 0px 30px 60px;
}
