*{
    box-sizing: border-box;
}


.html-content{
    display: flex;
    background-color: rgb(228, 230, 231);
    position: relative;
}
.html-navbar{
    width: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 10vh;
    max-height: 90vh;
    z-index: 1;
    padding-left: 30px;
    padding-top: 00px;
}
.html-navbar li{
    padding-top: 15px;
    color: black;
}
.html-navbar:nth-child(n){
    padding-bottom: 10px;
}

