.container{
    display: flex;
    background-color: rgb(201, 204, 206);
    box-sizing: border-box;
    
}
.container-post{
    display: flex;
    flex-direction: row;
    padding: 2rem 0rem;
    gap: 2.5rem;
    width: 90%;
    margin: 0 auto;
}

.back-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6B7280; 
    color: white;
    border-radius: 0.125rem; 
    padding: 0.5rem 1rem;
    margin-bottom: 10px;
    width: inherit;
    border: 1px solid black;
    cursor: pointer;
}

.post{
    width: 66.666667%; 
    display: flex;
    flex-direction: column;
    max-height: 90vh;
}
.post-body{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    flex-grow: 1;
}
.post-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
}
.post-username{
    opacity: 0.5;
}
.post-data{
    opacity: 0.5;
}
.title{
    font-size: 20px;
    color: black;
    flex-wrap: wrap-reverse;
    overflow-wrap:break-word;
}

.text{
    padding-top: 1rem; 
    opacity: 0.6;
    color: black;
    flex-wrap: wrap-reverse;
    overflow-wrap:break-word;
}
.statistic{
    display: flex;
    gap: 0.75rem; 
    align-items: center;
    margin-top: 0.5rem;
    justify-content: space-between;
}
.statistic-post{
    display: flex;
    margin-top: 1rem;
    gap: 0.75rem;
}
.views{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; 
    opacity: 0.5;
    padding: 5px;
    background-color: inherit;
}
.comments{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: grey;
    border-radius: 0.125rem; 
    min-height: 80vh;
    gap: 0.5rem;
}
.form{
    display: flex;
    gap: 0.5rem;
}
.input-line{
    color: black;
    width: 100%;
    border-radius: 0.125rem; 
    background-color: rgb(178, 182, 186);
    border-width: 1px; 
    padding: 0.5rem;
    outline: 0;
}
.form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
    border-radius: 0.125rem; 
    padding: 0.5rem 1rem 0.5rem 1rem;
}

