.container{
    background-color: rgb(201, 204, 206); /* rgb(228, 230, 231)*/
    min-height: 90vh;
}
.post-container{
    max-width: 900px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.post-body{
    display: flex; 
    justify-content: space-between; 
    gap: 2rem; 
}
.common-posts{
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    width: 100%;
    overflow: hidden;
    gap: 2.5rem; 
    -webkit-line-clamp: 4;
}
.popular-post-container{
    flex-basis: 20%;
    overflow: hidden;
}
.no-posts{
    font-size: 18px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; 
    text-align: center; 
    color: white;
}
